<!-- Encabezado -->
  <div class="container-fluid index-b">
    <div class="datos col-xs-12">
      <div class="col-xs-12">
        <h1 class="cv-name"><%= @persona.nombre_completo %></h1>
      </div>
      <div class="col-xs-12 cv-datos">
        <div class="col-xs-12 cvdatos">
          <div class="icon-dato col-xs-4">
            <span class="glyphicon glyphicon-heart icon" aria-hidden="true"></span> 
            <p><%= @persona.edo_civil_string %> </p>
          </div>
          <div class="icon-dato col-xs-4">
            <span class="glyphicon glyphicon-envelope icon" aria-hidden="true"></span> 
            <p><%= @persona.email %></p>
          </div>
          <div class="icon-dato col-xs-4">
            <span class="glyphicon glyphicon-calendar icon" aria-hidden="true"></span> 
            <p><%= @persona.fecha_nac.to_date.strftime('%d/%m/%Y') %></p>
          </div>
          <div class="icon-dato col-xs-4">
            <span class="glyphicon glyphicon-user icon" aria-hidden="true"></span> 
            <p><%= @persona.sexo_string %></p>
          </div>
          <div class="icon-dato col-xs-4">
            <span class="glyphicon glyphicon-education icon" aria-hidden="true"></span> 
            <p><%= @persona.profesion %></p>
          </div>
          <div class="icon-dato col-xs-4">
            <% if @persona.telefono_fijo and @persona.telefono_fijo !='' %>
              <p><%= fa_icon 'phone' %> <%=@persona.telefono_fijo %></p>
            <% end %>
            <% if @persona.telefono_celular and @persona.telefono_celular !='' %>
              <p><%= fa_icon 'mobile' %> <%=@persona.telefono_celular %></p>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 cvredes">
          <% if @persona.facebook and @persona.facebook !='' %>
                    <p><%= fa_icon 'facebook-square' %> <%=@persona.facebook %></p>
                <% end %>
                <% if @persona.facebook and @persona.twitter !='' %>
                    <p><%= fa_icon 'twitter-square' %> <%=@persona.twitter %></p>
                <% end %>
                <% if @persona.facebook and @persona.linkedin != ''%>
                    <p><%= fa_icon 'linkedin-square' %> <%=@persona.linkedin %></p>
                <% end %>
                <% if @persona.facebook and @persona.github !='' %>
                    <p><%= fa_icon 'github-square' %> <%=@persona.github %></p>
                <% end %>
        </div>
      </div>
    </div>

    <!-- Empresa-->
    <div class="seccion col-xs-12">
      <div class="col-xs-12">
        <h1 class="title-left">EXPERIENCIA</h1>
      </div>
      <div class="cv-seccion">
      <% @persona.cargos.each do |cargo| %>
        <div class="col-xs-4 cvdatos-a">
          <div class="col-xs-12">
            <p class="title-a"><%=cargo.empresa.nombre %></p>
            <p class="cargo-a"><%= cargo.nombre %></p>
            <p class="fecha-a"><%= cargo.inicio.to_date.strftime('%d/%m/%Y') %> - <%= !cargo.current ? cargo.fin.to_date.strftime('%d/%m/%Y') : "Al presente" %></p>
          </div>
        </div>
      <% end %>
      </div>
    </div>

    <!-- Estudios -->
    <div class="seccion col-xs-12">
      <div class="col-xs-12">
        <h1 class="title-rigth">ESTUDIOS</h1>
      </div>
      <div class="cv-seccion">
      <% @persona.studies.each do |study| %>
        <div class="col-xs-4 cvdatos-a">
          <div class="col-xs-12">
            <p class="title-a-r"><%= study.titulo %></p>
            <p class="cargo-a-r"><%=study.school.nombre %></p>
            <p class="fecha-a-r"><%= study.inicio.to_date.strftime('%d/%m/%Y') %> - <%= study.fin.to_date.strftime('%d/%m/%Y') %></p>
          </div>
        </div>
      <% end %>
      </div>
    </div>

    <!-- Cursos -->
    <div class="seccion col-xs-12" id="last">
      <div class="col-xs-12">
        <h1 class="title-left">CURSOS</h1>
      </div>
      <div class="cv-seccion col-xs-12">
      <% @persona.courses.each do |course| %>
        <div class="col-xs-4 cvdatos-a">
          <div class="col-xs-12">
            <p class="title-a"><%= course.nombre %></p>
            <p class="cargo-a"><%=course.academy.nombre %></p>
            <p class="fecha-a"><%= course.inicio.to_date.strftime('%d/%m/%Y') %> - <%= course.fin.to_date.strftime('%d/%m/%Y') %></p>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>