<style type="text/css">

/* Inicio estilos Modelo B */
.index-b {
	background-color: white;
	padding: 0;
	font-family: "Ubuntu", sans-serif;
}

.cvheader-b {
	border: 5px solid rgba(32,124,202,1);
	padding: 10px;
}

.logo-user img {
	width: 180px;
	height: 180px;
}

.cvname-b {
	text-align: center;
	padding-top: 50px;
	letter-spacing: 5px;
}

.cvinfo-b {
	font-size: 15px;
	padding: 0;
}

.cvinfo-b h3 {
	font-size: 15px;
}

.cvdatos-b {
	background: rgba(32,124,202,1);
	color: #fff;
	padding: 10px 5px;
}

.cvdatos-b p {
	display: inline-block;
	margin: 15px 10px;
	font-size: 18px
}

.cv-datos-b {
	/*border-top: 5px solid rgba(32,124,202,1);*/
	padding-left: 0;
	margin-top: 10px;
}

.cvtitle-b {
	background: rgba(32,124,202,1);
	color: #fff;
	text-align: center;
	padding: 15px;
}

.cvtitle-b span {
	font-size: 35px;
}

.cvtitle-b h1 {
	font-size: 25px;
}

.infop-b {
	margin: 0 0 15px 0;
	color:black;
}

.info-data {
	margin: 0 0 10px 0;
	border-left: 10px solid rgba(32,124,202,1);
}

.title-b, .cargo-b, .fecha-b {
	margin: 0;
}

.title-b {
	font-size: 20px;
	font-weight: bold;
}

</style>



<div class="container-fluid index-b">
	<div class="col-xs-12 cvheader-b">
		<div class="col-xs-3 logo-user">
			<img src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male2-512.png" alt="">
		</div>
		<div class="col-xs-9 cvname-b">
			<h1 style='color:black'><%= @persona.nombre_completo %></h1>
		</div>
	</div>
	<div class="col-xs-12 cvinfo-b">
		<div class="col-xs-12 cvdatos-b">
			<div class="col-xs-3">
				<h4>DATOS PERSONALES</h4>
			</div>
			<div class="col-xs-9">
				<p><%= fa_icon 'calendar' %> <%= @persona.fecha_nac.to_date.strftime('%d/%m/%Y') %></p>
	            <p><%= fa_icon 'graduation-cap' %> <%= @persona.profesion %></p>
				<p><%= fa_icon 'gavel' %> <%= @persona.edo_civil_string %></p>
				<p><%= fa_icon 'male' %>/<%= fa_icon 'female' %> <%= @persona.sexo_string %></p>
	        </div>
        </div>
        <div class="col-xs-12 cvdatos-b">
        	<div class="col-xs-3">
        		<h4>CONTACTO</h4>
        	</div>
	        <div class="col-xs-9">
	        	<p><%= fa_icon 'envelope' %> <%= @persona.email %></p>
	        	 <% if @persona.facebook and @persona.facebook !='' %>
                    <p><%= fa_icon 'facebook-square' %> <%=@persona.facebook %></p>
                <% end %>
                <% if @persona.facebook and @persona.twitter !='' %>
                    <p><%= fa_icon 'twitter-square' %> <%=@persona.twitter %></p>
                <% end %>
                <% if @persona.facebook and @persona.linkedin != ''%>
                    <p><%= fa_icon 'linkedin-square' %> <%=@persona.linkedin %></p>
                <% end %>
                <% if @persona.facebook and @persona.github !='' %>
                    <p><%= fa_icon 'github-square' %> <%=@persona.github %></p>
                <% end %>
                <% if @persona.telefono_fijo and @persona.telefono_fijo !='' %>
                    <p><%= fa_icon 'phone' %> <%=@persona.telefono_fijo %></p>
                <% end %>
                <% if @persona.telefono_celular and @persona.telefono_celular !='' %>
                    <p><%= fa_icon 'mobile' %> <%=@persona.telefono_celular %></p>
                <% end %>
	        </div>
        </div>
	</div>
	<div class="col-xs-12 cv-datos-b">
		<div class="col-xs-4 cvtitle-b">
			<span class="glyphicon glyphicon-briefcase"></span>
			<h1>Experiencia</h1>
		</div>
		<div class="col-xs-8 infop-b">
		<% @persona.cargos.each do |cargo| %>
			<div class="col-xs-12 info-data">
				<div class="col-xs-12">
					<p class="title-b"><%=cargo.empresa.nombre %></p>
					<p class="cargo-b"><%= cargo.nombre %></p>
					<p class="fecha-b"><%= cargo.inicio.to_date.strftime('%d/%m/%Y') %> - <%= !cargo.current ? cargo.fin.to_date.strftime('%d/%m/%Y') : "Al presente" %></p>
				</div>
			</div>
		<% end %>
		</div>
	</div>
	<div class="col-xs-12 cv-datos-b">
		<div class="col-xs-4 cvtitle-b">
			<span class="glyphicon glyphicon-book"></span>
			<h1>Estudios</h1>
		</div>
		<div class="col-xs-8 infop-b">
		<% @persona.studies.each do |study| %>
			<div class="col-xs-12 info-data">
				<div class="col-xs-12">
					<p class="title-b"><%= study.titulo %></p>
					<p class="cargo-b"><%=study.school.nombre %></p>
					<p class="fecha-b"><%= study.inicio.to_date.strftime('%d/%m/%Y') %> - <%= study.fin.to_date.strftime('%d/%m/%Y') %></p>
				</div>
			</div>
		<% end %>
		</div>
	</div>
	<div class="col-xs-12 cv-datos-b">
		<div class="col-xs-4 cvtitle-b">
			<span class="glyphicon glyphicon-tasks"></span>
			<h1>Cursos</h1>
		</div>
		<div class="col-xs-8 infop-b">
		<% @persona.courses.each do |course| %>
			<div class="col-xs-12 info-data">
				<div class="col-xs-12">
					<p class="title-b"><%= course.nombre %></p>
					<p class="cargo-b"><%=course.academy.nombre %></p>
					<p class="fecha-b"><%= course.inicio.to_date.strftime('%d/%m/%Y') %> - <%= course.fin.to_date.strftime('%d/%m/%Y') %></p>
				</div>
			</div>
		<% end %>
		</div>
	</div>
</div>