<tr class="nested-fields">
  <td><%= f.input_field :escuela, :url => autocomplete_school_nombre_personas_path, :as => :autocomplete, :class=>'form-control'  %></td>
  <td><%= f.input_field :titulo, as: :string,:class=>'form-control'  %></td>
  <td><%= f.input_field :inicio, as: :string,:class=>'form-control datepicker-i'  %></td>
  <td><%= f.input_field :fin, as: :string,:class=>'form-control datepicker-f'  %></td>
  <td><%= f.input_field :current, :collection => ["SI"], :as=> 	:check_boxes, :class=>'current' %></td>
  <td><%= link_to_remove_association "Eliminar", f, :class=>'btn btn-danger' %></td>
</tr>