<!DOCTYPE html>
<html>
<head>
  <title>Saltus LTDA</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application',params[:controller], 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "application", params[:controller], :media => "all" %>
</head>

<body>
<%= render 'common/navbar' %>
<% if notice %>
    <div class="alert alert-info">
      <%= notice %>
    </div>
<% end %>
<% if alert %>
    <div class="alert alert-danger">
      <%= alert %>
    </div>
<% end %>

<%= yield %>



</body>
</html>
